@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "ROTA-regular";
  src: url(../fonts/Rota-Regular.otf);
  font-display: fallback;
}
@font-face {
  font-family: "ROTA-bold";
  src: url(../fonts/Rota-Bold.otf);
  font-display: fallback;
}
@font-face {
  font-family: "ROTA-extrabold";
  src: url(../fonts/Rota-ExtraBold.otf);
  font-display: fallback;
}
@font-face {
  font-family: "ROTA-semibold";
  src: url(../fonts/Rota-SemiBold.otf);
  font-display: fallback;
}
@font-face {
  font-family: "ROTA-black";
  src: url(../fonts/Rota-Black.otf);
  font-display: fallback;
}
@font-face {
  font-family: "ROTA-Medium";
  src: url(../fonts/Rota-Medium.otf);
  font-display: fallback;
}

/* layer base preset */
/* follwing when compiled will be inserted at the end of base styles */
@layer base {
  body {
    @apply z-0;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

.polygon {
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.polygon2 {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@layer components {
  .upload-button {
    @apply w-full h-[40px] bg-primary text-white rounded-[7px] font-rota_regular mt-5 md:hidden block;
  }
  .views-grid {
    @apply flex flex-col items-center justify-center bg-flow_blue rounded-xl md:w-[160px] w-[180px] h-[140px] space-y-4 text-center;
  }
  .addon-card {
    @apply h-[156px] px-6 flex items-center justify-between rounded-md;
  }
}

@layer utilities {
  .form-panel {
    @apply md:mt-0 md:col-span-2 bg-white shadow sm:rounded-md px-4 py-5 sm:p-6;
  }
  .form-simple {
    @apply mt-1 focus:ring-primary focus:border-primary block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
  }
}
